environment: development
environmentCode:
name: ${{ values.project_name }}
namespace: ${{ values.workstream }}
workstream: ${{ values.workstream }}
image: ${{ values.project_name }}

labels:
  component: web

appInsights:
  connectionString:

deployment: {}

container:
  requestMemory: 100Mi
  requestCpu: 100m
  limitMemory: 100Mi
  limitCpu: 100m
  port: 3000

livenessProbe:
  path: /healthz
  port: 3000
  initialDelaySeconds: 20
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5

readinessProbe:
  path: /healthy
  port: 3000
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5
